<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title |
      escape }}{% endif %}
    </title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
  </head>
  <body class="vscode-body">
    <header>
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    </header>

    <main>{{ content }}</main>

    <footer>
      <p>&copy; {{ site.time | date: '%Y' }} - {{ site.title }}</p>
    </footer>
  </body>
</html>
