<!DOCTYPE html>
<html lang="en">
  <header>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Basic favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>
      {% if page.url == '/' %}{{ site.title | escape }}{% elsif page.title %}{{
      page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title
      | escape }}{% endif %}
    </title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
  </header>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item {% if page.url == '/' %}active{% endif %}">
        <a href="{{ site.baseurl }}/">Home</a>
      </li>

      {% assign url_parts = page.url | split: '/' %} {% assign url_parts_size =
      url_parts | size %} {% assign rm = url_parts | last %} {% assign base_url
      = page.url | replace: rm %} {% for part in url_parts %} {% if
      forloop.first %} {% continue %} {% endif %} {% assign is_last =
      forloop.last %} {% capture slug %}{{ part }}{% endcapture %} {% if slug !=
      "" %} {% capture breadcrumb_path %}{{ site.baseurl }}{% for path_part in
      url_parts offset:0 limit:forloop.index %}{% if path_part != "" %}/{{
      path_part }}{% endif %}{% endfor %}{% endcapture %}
      <li
        class="breadcrumb-item {% if is_last %}active{% endif %}"
        {%
        if
        is_last
        %}aria-current="page"
        {%
        endif
        %}
      >
        {% if is_last %} {{ slug | capitalize | replace: '-', ' ' }} {% else %}
        <a href="{{ breadcrumb_path }}/"
          >{{ slug | capitalize | replace: '-', ' ' }}</a
        >
        {% endif %}
      </li>
      {% endif %} {% endfor %}
    </ol>
  </nav>
  <body class="vscode-body">
    <main class="container my-4">{{ content }}</main>

    <footer class="container text-center py-3">
      <p>&copy; {{ site.time | date: '%Y' }} - {{ site.title }}</p>
    </footer>

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
