body {
  color: #000000;
  background: white;
  font: 1em "helvetica", "Microsoft YaHei UI";
  line-height: 1.5;

  @media (min-width: 0px) and (max-width: 1200px) {
    margin-left: 0%;
    margin-right: 0%;
    padding: 0 0%;
    font-size: 1.1em;
    max-width: 100%;
  }

  @media (min-width: 1201px) {
    margin-left: 10%;
    margin-right: 10%;
  }
}

input.task-list-item-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

strong {
  color: #000000;
  font-weight: bold;
  font-size: 1em;
  display: inline-block;
  background-color: #ffd500;
  border-radius: 20% 25% 20% 24%;
  position: relative;
}

img {
  max-width: 80%;
  border-radius: 10px;
  box-shadow: 0 20px 30px -10px rgb(16 16 39 / 5%);
  margin: 0 auto;
  display: inline-block;
}

img[alt="avatar"] {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: block;
}

p {
  text-align: left;
  /* top | right | bottom | left */
  margin: 20px 0 20px 0;
}

a:hover {
  color: #00d0ea;
}

blockquote {
  border: none;
  border-radius: 20px;
  padding: 0px 15px 0px 15px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background: linear-gradient(to bottom, #00d0ea 0%, #0085d1 100%);
  background-attachment: fixed;
  position: relative;
}

blockquote p {
  color: white;
  margin: 0;
  padding: 5px 5px;
}

blockquote:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00d0ea 0%, #0085d1 100%);
  background-attachment: fixed;
  border-bottom-right-radius: 15px;
}

blockquote:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

table {
  padding: 0;
  display: block;
  word-break: initial;
  width: 100%;
}

table tr th {
  border: 1px solid #dfe2e5;
  font-weight: bold;
  background-color: #fafafa;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #dfe2e5;
  margin: 0;
  padding: 6px 13px;
}

table tr:nth-child(n):hover {
  background-color: #f0f0f0;
}

table tr td:first-child {
  margin-top: 0;
  width: 15%;
}

table tr td:last-child {
  margin-bottom: 0;
}

table tr:nth-child(2n) {
  background-color: #fafafa;
}

pre {
  background-color: #fafafa;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 20px 30px -10px rgb(16 16 39 / 5%);
}

code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
}
